body {
    background:linear-gradient(to left,rgb(30, 35, 112), rgb(29, 137, 190));
    width: 100%;
    height: 100%;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgba(26, 23, 23, 0.63);
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);   
}

.input-group {
    margin: 20px 0px;
}

 
.cart {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    width: 100%;
    height: 400px;
}

h3 {
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding-top: 65px;
   
}

.cart h2 {
   
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.cart i {
    font-size: 90px;
    color: #fff;
    display: flex;
    justify-content: center;
 
}
.cart h4 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
}

